body {
    background: rgba(75, 185, 236, 0.849);
    font-family: Cochin;
}
h1 {
    color: hotpink;
    text-align: left;
    font-family: Georgia;
    font-size: 4em;
    border-bottom: 4mm ridge rgba(170, 20, 235, 0.6);
    margin-bottom: 5px;
}
p {
    width: 600px;
}
h2 {
    color: white;
}
.job-title {
    font-weight: bold;
    font-size: 1.5em;
    color: grey;
}
a:link {
    color: rgb(255, 0, 157);
}
a:visited {
    color: rgb(188, 226, 21);
}
ul {
    outline: solid;
    outline-color: rgb(54, 54, 54);
    padding-top: .5em;
    padding-bottom: .5em;
    width: 400px;
}
img {
    max-width: 400px;
    height: auto;
    float: right;
    padding-top: 40px;
    padding-right:500px;
} 